<div class="medium-12 columns homepg_main_container">
  <div class="medium-12 columns homepg_container">
    <div class="homepg_inner_container">
      <div class="medium-3 columns left_column">
        <ul>
          <li class="header">new in</li>
          <li><%= link_to "new in clothing", "#" %></li>
          <li><%= link_to "new in shoes & sandals", "#" %></li>
          <li><%= link_to "new in bags & accssories", "#" %></li>
        </ul>
        <ul>
          <li class="header">womens clothing</li>
          <li><%= link_to "coats & jackets", "#" %></li>
          <li><%= link_to "dresses", "#" %></li>
          <li><%= link_to "hoodies & sweatshirts", "#" %></li>
          <li><%= link_to "jeans & denims", "#" %></li>
          <li><%= link_to "jumpers & cardigans", "#" %></li>
          <li><%= link_to "jumpsuits & playsuits", "#" %></li>
          <li><%= link_to "lingerie & nightwear", "#" %></li>
          <li><%= link_to "loungewear", "#" %></li>
          <li><%= link_to "maternity", "#" %></li>
          <li><%= link_to "shirts & blouses", "#" %></li>
          <li><%= link_to "shorts", "#" %></li>
          <li><%= link_to "skirts", "#" %></li>
          <li><%= link_to "socks & tights", "#" %></li>
          <li><%= link_to "sportswear", "#" %></li>
          <li><%= link_to "swim & beachwear", "#" %></li>
          <li><%= link_to "tops", "#" %></li>
          <li><%= link_to "trousers & leggings", "#" %></li>
          <li><%= link_to "t-shirts & vests", "#" %></li>
          <li><%= link_to "workwear suits", "#" %></li>
        </ul>
        <ul>
          <li class="header">footwear</li>
          <li><%= link_to "espadrilles", "#" %></li>
          <li><%= link_to "flat boots", "#" %></li>
          <li><%= link_to "flat sandals", "#" %></li>
          <li><%= link_to "flat shoes", "#" %></li>
          <li><%= link_to "flat flops", "#" %></li>
          <li><%= link_to "heeled boots", "#" %></li>
          <li><%= link_to "heeled sandals", "#" %></li>
          <li><%= link_to "heeled shoes", "#" %></li>
          <li><%= link_to "loafers", "#" %></li>
          <li><%= link_to "pumps", "#" %></li>
          <li><%= link_to "shoe accessories", "#" %></li>
          <li><%= link_to "slippers", "#" %></li>
          <li><%= link_to "trainers", "#" %></li>
          <li><%= link_to "wedges", "#" %></li>
        </ul>
        <ul>
          <li class="header">bags & accesories</li>
          <li><%= link_to "across body bags", "#" %></li>
          <li><%= link_to "bum bags", "#" %></li>
          <li><%= link_to "backpacks", "#" %></li>
          <li><%= link_to "clutches", "#" %></li>
          <li><%= link_to "coin purses", "#" %></li>
          <li><%= link_to "folder over purses", "#" %></li>
          <li><%= link_to "gym bags", "#" %></li>
          <li><%= link_to "holdalls", "#" %></li>
          <li><%= link_to "makeup bags", "#" %></li>
          <li><%= link_to "satchels", "#" %></li>
          <li><%= link_to "shoppers", "#" %></li>
          <li><%= link_to "shoulder bags", "#" %></li>
          <li><%= link_to "totes", "#" %></li>
          <li><%= link_to "bag accessories", "#" %></li>
          <li><%= link_to "zip purses", "#" %></li>
          <li class="divider"></li>
          <li><%= link_to "belts", "#" %></li>
          <li><%= link_to "bow ties & collars", "#" %></li>
          <li><%= link_to "bracelets", "#" %></li>
          <li><%= link_to "capes & ponchos", "#" %></li>
          <li><%= link_to "earrings", "#" %></li>
          <li><%= link_to "glasses", "#" %></li>
          <li><%= link_to "gloves", "#" %></li>
          <li><%= link_to "hair accessories", "#" %></li>
          <li><%= link_to "hats", "#" %></li>
          <li><%= link_to "key rings", "#" %></li>
          <li><%= link_to "necklaces", "#" %></li>
          <li><%= link_to "rings", "#" %></li>
          <li><%= link_to "scarves & snoods", "#" %></li>
          <li><%= link_to "umbrellas", "#" %></li>
        </ul>
      </div>
      <div class="medium-9 columns right_column">
        <div class="main_header">womenswear</div>
        <div class="medium-12 columns upper_section">
          <div class="medium-6 columns left_section">
            <div class="medium-4 columns left_img"><%= link_to (image_tag "img_woman_homepg_02.png"), "#" %></div>
            <div class="medium-8 columns left_img_content">
              <div class="divider"></div>
              <div class="upper_content">Dress for the day you want to have</div>
              <div class="divider"></div>
              <div class="lower_content">whatever the mood, we have the dress</div>
              <div class="link_btn"><%= link_to "shop new in", "#" %></div>
            </div>
          </div>
          <div class="medium-6 columns right_section"><%= link_to (image_tag "img_woman_homepg_01.jpg"), "#" %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
