<h1>footer_section</h1>
<div>
  <ul>
    <li><%= link_to '', '#', class: "fa fa-facebook-square", target:"_blank" %></li>
    <li><%= link_to '', '#', class: "fa fa-twitter-square", target:"_blank" %></li>
    <li><%= link_to '', '#', class: "fa fa-instagram", target:"_blank" %></li>
    <li><%= link_to "about us", about_us_path, rel: "relativeanchor" %></li>
    <li><%= link_to "terms", "#" %></li>
    <li><%= link_to "privacy", "#" %></li>
    <li><%= link_to "contact us", "#" %></li>
  </ul>
</div>
<div class="copyright_content">Copyright © 2017 FirstChoice Ltd</div>