<div class="medium-12 columns footer_main_container">
  <div class="medium-12 columns footer_upper_container">
    <div class="footer_inner_container">
      <ul>
        <li class="left_link"><%= link_to '', '#', class: "fa fa-facebook-square", target:"_blank" %></li>
        <li class="left_link"><%= link_to '', '#', class: "fa fa-twitter-square", target:"_blank" %></li>
        <li class="left_link"><%= link_to '', '#', class: "fa fa-instagram", target:"_blank" %></li>
        <li class="right_link"><%= link_to "first choice", "#" %></li>
      </ul>
    </div>
  </div>
  <div class="medium-12 columns footer_lower_container">
    <div class="footer_inner_container">
      <div class="medium-3 columns footer_links">
        <div class="footer_link_header">here to help</div>
        <ul>
          <li><%= link_to "first choice faqs", "#" %></li>
          <li><%= link_to "where is my order", "#" %></li>
          <li><%= link_to "delievery & collection", "#" %></li>
          <li><%= link_to "guest order tracking", "#" %></li>
          <li><%= link_to "returns & refunds", "#" %></li>
          <li><%= link_to "site map", "#" %></li>
        </ul>
      </div>
      <div class="medium-3 columns footer_links">
        <div class="footer_link_header">shopping with us</div>
        <ul>
          <li><%= link_to "first choice", "#" %></li>
          <li><%= link_to "our stores", "#" %></li>
          <li><%= link_to "international delivery", "#" %></li>
          <li><%= link_to "check our gift card balance", "#" %></li>
          <li><%= link_to "size guide", "#" %></li>
        </ul>
      </div>
      <div class="medium-3 columns footer_links">
        <div class="footer_link_header">about us</div>
        <ul>
          <li><%= link_to "coperate site", "#" %></li>
          <li><%= link_to "first choice archives", "#" %></li>
          <li><%= link_to "plan a", "#" %></li>
          <li><%= link_to "jobs", "#" %></li>
          <li><%= link_to "contact us", "#" %></li>
        </ul>
      </div>
      <div class="medium-3 columns footer_link_info">
        <ul>
          <li><%= link_to "first choice business", "#" %></li>
          <li><%= link_to "first choice bank", "#" %></li>
          <li><%= link_to "first energy", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="copyright_address_info">
    <div>© 2017 first choice limited </div>
    <div>259 edgwareburylane, edgware, london, h8q 8ql</div>
    <div></div>
  </div>
</div>