<h1>header_section</h1>
<div>
  <ul>
    <li><%= link_to "home", root_path %></li>
    <li><%= link_to "about us", about_us_path %></li>
    <li><%= link_to "login", login_path %></li>
    <li><%= link_to "register", register_path %></li>
    <li><%= link_to "logout", destroy_user_session_path, method: :delete  %></li>
    <li><%= link_to "Shop by", "#" %></li>
    <li><%= link_to "clothes", "#" %></li>
    <li><%= link_to "accessories", "#" %></li>
    <li><%= link_to "shoes", "#" %></li>
    <li><%= link_to "bags & purses", "#" %></li>
    <li><%= link_to "sale", "#" %></li>
    <li><%= link_to "contact", "#" %></li>
    <li><%= link_to 'create product', new_product_path %></li>
  </ul>
</div>