<div class="medium-12 columns product_container">
  <div class="medium-12 columns product_item_container">
    <div class="product_item_inner_container">
    
      <!-- product_content -->
      <div class="product_item_content">
        <div class="tree_line">
          <span><%= link_to "home", root_path %></span>
          <span class="divider">/</span>
          <span><%= link_to "bags & purses", bags_products_path %></span>
          <span class="divider">/</span>
          <span>shoulder bags</span>
        </div>

        <!-- left_column -->
        <div class="medium-3 columns left_column">
          <ul>
            <li class="header">new in</li>
            <li><%= link_to "new in clothing", "#" %></li>
            <li><%= link_to "new in shoes & sandals", "#" %></li>
            <li><%= link_to "new in bags & accssories", "#" %></li>
          </ul>
          <ul>
            <li class="header">womens clothing</li>
            <li><%= link_to "coats & jackets", "#" %></li>
            <li><%= link_to "dresses", clothes_dresses_products_path %></li>
            <li><%= link_to "hoodies & sweatshirts", "#" %></li>
            <li><%= link_to "jeans & denims", clothes_jeans_and_denims_products_path %></li>
            <li><%= link_to "jumpers & cardigans", "#" %></li>
            <li><%= link_to "jumpsuits & playsuits", "#" %></li>
            <li><%= link_to "lingerie & nightwear", "#" %></li>
            <li><%= link_to "loungewear", "#" %></li>
            <li><%= link_to "maternity", "#" %></li>
            <li><%= link_to "shirts & blouses", "#" %></li>
            <li><%= link_to "shorts", "#" %></li>
            <li><%= link_to "skirts", "#" %></li>
            <li><%= link_to "socks & tights", "#" %></li>
            <li><%= link_to "sportswear", "#" %></li>
            <li><%= link_to "swim & beachwear", "#" %></li>
            <li><%= link_to "tops", "#" %></li>
            <li><%= link_to "trousers & leggings", "#" %></li>
            <li><%= link_to "t-shirts & vests", "#" %></li>
            <li><%= link_to "workwear suits", "#" %></li>
          </ul>
          <ul>
            <li class="header">footwear</li>
            <li><%= link_to "espadrilles", "#" %></li>
            <li><%= link_to "flat boots", "#" %></li>
            <li><%= link_to "flat sandals", "#" %></li>
            <li><%= link_to "flat shoes", "#" %></li>
            <li><%= link_to "flat flops", "#" %></li>
            <li><%= link_to "heeled boots", "#" %></li>
            <li><%= link_to "heeled sandals", "#" %></li>
            <li><%= link_to "heeled shoes", "#" %></li>
            <li><%= link_to "loafers", "#" %></li>
            <li><%= link_to "pumps", "#" %></li>
            <li><%= link_to "shoe accessories", "#" %></li>
            <li><%= link_to "slippers", "#" %></li>
            <li><%= link_to "trainers", "#" %></li>
            <li><%= link_to "wedges", "#" %></li>
          </ul>
          <ul>
            <li class="header">bags & accesories</li>
            <li><%= link_to "across body bags", "#" %></li>
            <li><%= link_to "bum bags", "#" %></li>
            <li><%= link_to "backpacks", "#" %></li>
            <li><%= link_to "clutches", "#" %></li>
            <li><%= link_to "coin purses", "#" %></li>
            <li><%= link_to "folder over purses", "#" %></li>
            <li><%= link_to "gym bags", "#" %></li>
            <li><%= link_to "holdalls", "#" %></li>
            <li><%= link_to "makeup bags", "#" %></li>
            <li><%= link_to "satchels", "#" %></li>
            <li><%= link_to "shoppers", "#" %></li>
            <li><%= link_to "shoulder bags", bags_shoulder_bags_products_path %></li>
            <li><%= link_to "totes", "#" %></li>
            <li><%= link_to "bag accessories", "#" %></li>
            <li><%= link_to "zip purses", "#" %></li>
            <li class="divider"></li>
            <li><%= link_to "belts", "#" %></li>
            <li><%= link_to "bow ties & collars", "#" %></li>
            <li><%= link_to "bracelets", "#" %></li>
            <li><%= link_to "capes & ponchos", "#" %></li>
            <li><%= link_to "earrings", "#" %></li>
            <li><%= link_to "glasses", "#" %></li>
            <li><%= link_to "gloves", "#" %></li>
            <li><%= link_to "hair accessories", "#" %></li>
            <li><%= link_to "hats", "#" %></li>
            <li><%= link_to "key rings", "#" %></li>
            <li><%= link_to "necklaces", "#" %></li>
            <li><%= link_to "rings", "#" %></li>
            <li><%= link_to "scarves & snoods", "#" %></li>
            <li><%= link_to "umbrellas", "#" %></li>
          </ul>
        </div>
        <!-- right_column -->
        <div class="medium-9 columns right_column">
          <div class="medium-12 columns bottom_row_clothes">
            <ul>
            <% @products.each do |product| %>
              <li>
                <div class="dress_img">
                  <div class="img_item"><%= link_to(image_tag(product.image_url), product) %></div>
                  <% if product.product_new? %>
                    <div class="new_item">
                      <div class="new_item_inner">new</div>
                    </div>
                  <% end %>
                  <% if product.sale? %>
                    <div class="sale_clothe_item">
                      <div class="sale_clothe_item_inner">sale</div>
                    </div>
                  <% end %>
                  <div class="img_dress_details">
                    <div class="dress_brand">firstchoice collection</div>
                    <div class="dress_name"><%= product.title %></div>
                    <div class="dress_price">
                      <span class="currency">
                        <% if product.category_currency.name == "Cedis" %>
                          <%= "¢" %>
                        <% elsif product.category_currency.name == "Dollars" %>
                          <%= "$" %>
                        <% elsif product.category_currency.name == "Pounds" %>
                          <%= "£" %>
                        <% end %>
                      </span>
                      <span>
                        <% if product.sale? %>
                          <%= number_with_precision("#{product.saleprice}", precision: 2) %>
                        <% else %>
                          <%= number_with_precision("#{product.price}", precision: 2) %>
                        <% end %>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="dress_details">
                  <%= link_to product do %>
                    <div class="dress_brand">firstchoice collection</div>
                    <div class="dress_name"><%= product.title %></div>
                    <div class="dress_price">
                      <span class="currency">
                        <% if product.sale? %>
                          <span class="price_currency">
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span class="price_sale"><%= number_with_precision("#{product.price}", precision: 2) %></span>
                          </span>
                          <span class="price_currency sale_item">
                            <span class="now_text">now</span>
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span class="sale_price"><%= number_with_precision("#{product.saleprice}", precision: 2) %></span>
                          </span>
                        <% else %>
                          <div class="price_currency">
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span><%= number_with_precision("#{product.price}", precision: 2) %></span>
                          </div>
                        <% end %>
                      </span>
                    </div>
                  <% end %>
                </div>  
              </li> 
            <% end %>
            </ul>
          </div>
        </div>

      </div>
      <!-- product_content -->
    </div>
  </div>
</div>
<div class="clear"></div>