<div class="medium-12 columns product_container">
  <div class="medium-12 columns product_item_container">
    <div class="product_item_inner_container">
    
      <!-- product_content -->
      <div class="product_item_content">
        <div class="tree_line">
          <span><%= link_to "home", root_path %></span>
          <span class="divider">/</span>
          <span>bags & purses</span>
        </div>

        <!-- left_column -->
        <div class="medium-3 columns left_column">
          <ul>
            <li class="header">new in</li>
            <li><%= link_to "new in clothing", "#" %></li>
            <li><%= link_to "new in shoes & sandals", "#" %></li>
            <li><%= link_to "new in bags & accssories", "#" %></li>
          </ul>
          <ul>
            <li class="header">bags & accesories</li>
            <li><%= link_to "across body bags", "#" %></li>
            <li><%= link_to "bum bags", "#" %></li>
            <li><%= link_to "backpacks", "#" %></li>
            <li><%= link_to "clutches", "#" %></li>
            <li><%= link_to "coin purses", "#" %></li>
            <li><%= link_to "folder over purses", "#" %></li>
            <li><%= link_to "gym bags", "#" %></li>
            <li><%= link_to "holdalls", "#" %></li>
            <li><%= link_to "makeup bags", "#" %></li>
            <li><%= link_to "satchels", "#" %></li>
            <li><%= link_to "shoppers", "#" %></li>
            <li><%= link_to "shoulder bags", bags_shoulder_bags_products_path %></li>
            <li><%= link_to "totes", "#" %></li>
            <li><%= link_to "bag accessories", "#" %></li>
            <li><%= link_to "zip purses", "#" %></li>
            <li class="divider"></li>
            <li><%= link_to "belts", "#" %></li>
            <li><%= link_to "bow ties & collars", "#" %></li>
            <li><%= link_to "bracelets", "#" %></li>
            <li><%= link_to "capes & ponchos", "#" %></li>
            <li><%= link_to "earrings", "#" %></li>
            <li><%= link_to "glasses", "#" %></li>
            <li><%= link_to "gloves", "#" %></li>
            <li><%= link_to "hair accessories", "#" %></li>
            <li><%= link_to "hats", "#" %></li>
            <li><%= link_to "key rings", "#" %></li>
            <li><%= link_to "necklaces", "#" %></li>
            <li><%= link_to "rings", "#" %></li>
            <li><%= link_to "scarves & snoods", "#" %></li>
            <li><%= link_to "umbrellas", "#" %></li>
          </ul>
        </div>
        <!-- right_column -->
        <div class="medium-9 columns right_column">
          <div class="medium-12 columns upper_row">
            <div class="medium-3 columns upper_left_section"><%= image_tag("img_bags_01.png") %></div>
            <div class="medium-6 columns upper_middle_section">
              <div class="upper_inner_middle_section">
                <div class="header">New in women’s bags & accessories</div>
                <div class="content">Always make time for the little things. You’re heading towards our latest arrivals, from butter-soft leather bags to outfit-elevating jewellery</div>
              </div>
            </div>
            <div class="medium-3 columns upper_right_section"><%= image_tag("img_bags_02.png") %></div>
          </div>
          <div class="medium-12 columns middle_row_selection">
            <div class="medium-3 columns btn_link_section"> 
              <%= link_to "casual dresses", "#", class: "btn first_btn" %>
            </div>
            <div class="medium-3 columns btn_link_section">
              <%= link_to "work dresses", "#", class: "btn second_btn" %>
            </div>
            <div class="medium-3 columns btn_link_section">
              <%= link_to "evening dresses", "#", class: "btn third_btn" %>
            </div>
            <div class="medium-3 columns btn_link_section">
              <%= link_to "evening dresses", "#", class: "btn fourth_btn" %>
            </div>
          </div>
          <div class="medium-12 columns bottom_row_clothes">
            <ul>
            <% @products.each do |product| %>
              <li>
                <div class="dress_img">
                  <div class="img_item"><%= link_to(image_tag(product.image_url), product) %></div>
                  <% if product.product_new? %>
                    <div class="new_item">
                      <div class="new_item_inner">new</div>
                    </div>
                  <% end %>
                  <% if product.sale? %>
                    <div class="sale_clothe_item">
                      <div class="sale_clothe_item_inner">sale</div>
                    </div>
                  <% end %>
                  <div class="img_dress_details">
                    <div class="dress_brand">firstchoice collection</div>
                    <div class="dress_name"><%= product.title %></div>
                    <div class="dress_price">
                      <span class="currency">
                        <% if product.category_currency.name == "Cedis" %>
                          <%= "¢" %>
                        <% elsif product.category_currency.name == "Dollars" %>
                          <%= "$" %>
                        <% elsif product.category_currency.name == "Pounds" %>
                          <%= "£" %>
                        <% end %>
                      </span>
                      <span>
                        <% if product.sale? %>
                          <%= number_with_precision("#{product.saleprice}", precision: 2) %>
                        <% else %>
                          <%= number_with_precision("#{product.price}", precision: 2) %>
                        <% end %>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="dress_details">
                  <%= link_to product do %>
                    <div class="dress_brand">firstchoice collection</div>
                    <div class="dress_name"><%= product.title %></div>
                    <div class="dress_price">
                      <span class="currency">
                        <% if product.sale? %>
                          <span class="price_currency">
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span class="price_sale"><%= number_with_precision("#{product.price}", precision: 2) %></span>
                          </span>
                          <span class="price_currency sale_item">
                            <span class="now_text">now</span>
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span class="sale_price"><%= number_with_precision("#{product.saleprice}", precision: 2) %></span>
                          </span>
                        <% else %>
                          <div class="price_currency">
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span><%= number_with_precision("#{product.price}", precision: 2) %></span>
                          </div>
                        <% end %>
                      </span>
                    </div>
                  <% end %>
                </div>  
              </li> 
            <% end %>
            </ul>
          </div>
        </div>

      </div>
      <!-- product_content -->
    </div>
  </div>
</div>
<div class="clear"></div>