<div class="medium-12 columns product_container">
  <div class="medium-12 columns product_item_container">
    <div class="product_item_inner_container">
    
      <!-- product_content -->
      <div class="product_item_content">
        <div class="tree_line">
          <span><%= link_to "home", root_path %></span>
          <span class="divider">/</span>
          <span><%= link_to "clothes", "#" %></span>
          <span class="divider">/</span>
          <span>dresses</span>
        </div>

        <!-- left_column -->
        <div class="medium-3 columns left_column">
          <div class="serach_category">
            <%# link_to "display all", clothes_dresses_products_path %>
            <%= search_form_for @search_dress, url: clothes_dresses_products_path do |f| %>
            <div class="filter_search_btn"><button><%# f.submit 'search' %></button></div>
            
            <div class="category_section">
              <div class="divider"></div>
              <div class="cat_header">
                <span class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span class="title">size</span>
              </div>
              <ul class="category_section_list">
                <% CategoryColour.all.each do |colour| %>
                  <% if colour.products.clothes_dresses.count > 0 %>
                    <li>
                    <%= check_box_tag('q[category_colour_name_cont_any][]', colour.name) %>
                    <span class="category_name"><%= colour.name %></span>
                    </li>
                  <% else %>
                    <% '' %>
                  <% end %>
                <% end %>
              </ul>
            </div>

            <div class="category_section">
              <div class="cat_header">
                <span class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span class="title">colour</span>
              </div>
              <ul class="category_section_list">
                <% CategoryColour.all.each do |colour| %>
                  <% if colour.products.clothes_dresses.count > 0 %>
                    <li>
                    <%= check_box_tag('q[category_colour_name_cont_any][]', colour.name) %>
                    <span class="category_name"><%= colour.name %></span>
                    </li>
                  <% else %>
                    <% '' %>
                  <% end %>
                <% end %>
              </ul>
            </div>

            <div class="category_section">
              <div class="cat_header">
                <span class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span class="title">material</span>
              </div>
              <ul class="category_section_list">
                <% CategoryColour.all.each do |colour| %>
                  <% if colour.products.clothes_dresses.count > 0 %>
                    <li>
                    <%= check_box_tag('q[category_colour_name_cont_any][]', colour.name) %>
                    <span class="category_name"><%= colour.name %></span>
                    </li>
                  <% else %>
                    <% '' %>
                  <% end %>
                <% end %>
              </ul>
            </div>

            <div class="category_section">
              <div class="cat_header">
                <span class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span class="title">category</span>
              </div>
              <ul class="category_section_list">
                <% CategoryColour.all.each do |colour| %>
                  <% if colour.products.clothes_dresses.count > 0 %>
                    <li>
                    <%= check_box_tag('q[category_colour_name_cont_any][]', colour.name) %>
                    <span class="category_name"><%= colour.name %></span>
                    </li>
                  <% else %>
                    <% '' %>
                  <% end %>
                <% end %>
              </ul>
            </div>


            <% end %>
          </div>
        </div>

        
        <!-- right_column -->
        <div class="medium-9 columns right_column">
          <div class="medium-12 columns bottom_row_clothes">
            <ul>
            <% @products_dress.each do |product| %>
              <li>
                <div class="dress_img">
                  <div class="img_item"><%= link_to(image_tag(product.image_url), product) %></div>
                  <% if product.product_new? %>
                    <div class="new_item">
                      <div class="new_item_inner">new</div>
                    </div>
                  <% end %>
                  <% if product.sale? %>
                    <div class="sale_clothe_item">
                      <div class="sale_clothe_item_inner">sale</div>
                    </div>
                  <% end %>
                  <div class="img_dress_details">
                    <div class="dress_brand">firstchoice collection</div>
                    <div class="dress_name"><%= product.title %></div>
                    <div class="dress_price">
                      <span class="currency">
                        <% if product.category_currency.name == "Cedis" %>
                          <%= "¢" %>
                        <% elsif product.category_currency.name == "Dollars" %>
                          <%= "$" %>
                        <% elsif product.category_currency.name == "Pounds" %>
                          <%= "£" %>
                        <% end %>
                      </span>
                      <span>
                        <% if product.sale? %>
                          <%= number_with_precision("#{product.saleprice}", precision: 2) %>
                        <% else %>
                          <%= number_with_precision("#{product.price}", precision: 2) %>
                        <% end %>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="dress_details">
                  <%= link_to product do %>
                    <div class="dress_brand">firstchoice collection</div>
                    <div class="dress_name"><%= product.title %></div>
                    <div class="dress_price">
                      <span class="currency">
                        <% if product.sale? %>
                          <span class="price_currency">
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span class="price_sale"><%= number_with_precision("#{product.price}", precision: 2) %></span>
                          </span>
                          <span class="price_currency sale_item">
                            <span class="now_text">now</span>
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span class="sale_price"><%= number_with_precision("#{product.saleprice}", precision: 2) %></span>
                          </span>
                        <% else %>
                          <div class="price_currency">
                            <span class="currency">
                              <% if product.category_currency.name == "Cedis" %>
                                <%= "¢" %>
                              <% elsif product.category_currency.name == "Dollars" %>
                                <%= "$" %>
                              <% elsif product.category_currency.name == "Pounds" %>
                                <%= "£" %>
                              <% end %>
                            </span>
                            <span><%= number_with_precision("#{product.price}", precision: 2) %></span>
                          </div>
                        <% end %>
                      </span>
                    </div>
                  <% end %>
                </div>  
              </li> 
            <% end %>
            </ul>
          </div>
        </div>

      </div>
      <!-- product_content -->
    </div>
  </div>
</div>
<div class="clear"></div>