<div class="medium-12 columns product_index_main_container">
  <div class="medium-12 columns product_index_container">
    <div class="product_index_inner_container">
      <div class="product_index_content">
        <p id="notice"><%= notice %></p>
        <h1>Products</h1>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Price</th>
              <th>Saleprice</th>
              <th>Reference</th>
              <th>Stock</th>
              <th>Sale</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.title %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
                <td><%= product.saleprice %></td>
                <td><%= product.reference %></td>
                <td><%= product.stock %></td>
                <td><%= product.sale %></td>
                <td><%= link_to 'Show', product %></td>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table><br>
        <%= link_to 'New Product', new_product_path %>

        <!-- working_content -->
        <div>
       
        </div>
        <!-- working_content -->




      </div>
    </div>
  </div>
</div>
<div class="clear"></div>