<div class="medium-12 columns product_index_main_container">
  <div class="medium-12 columns product_index_container">
    <div class="product_index_inner_container">
      <div class="product_index_content">
        <p id="notice"><%= notice %></p>
        <h1>Products</h1>
        <%= link_to 'Create New Product', new_product_path %>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Saleprice</th>
              <th>Reference</th>
              <th>Stock</th>
              <th>Sale</th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= link_to "#{product.title}", product %></td>
                <td><%= link_to(image_tag(product.image_url), product)%></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
                <td><%= product.saleprice %></td>
                <td><%= product.reference %></td>
                <td><%= product.stock %></td>
                <td><%= product.sale %></td>
              </tr>
            <% end %>
          </tbody>
        </table><br>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>


