<div class="medium-12 columns product_show_main_container">
  <div class="medium-12 columns product_show_container">
    <div class="product_show_inner_container">
  
      <div class="product_show_content">
        <div class="tree_line">
          <span><%= link_to "home", root_path %></span>
          <span class="divider">/</span>
          <span><%= link_to "women", "#" %></span>
          <span class="divider">/</span>
          <span><%= link_to @product.category_type.name, "#" %></span>
          <span class="divider">/</span>
          <span>
            <% if @product.category_type.name == "Clothes" %>
              <%= @product.category_clothetype.name %>
            <% elsif @product.category_type.name == "Accessories" %>
              <%= @product.category_accessorytype.name %>
            <% elsif @product.category_type.name == "Shoes" %>
              <%= @product.category_shoetype.name %>
            <% elsif @product.category_type.name == "Bags & Purses" %>
              <%= @product.category_bagtype.name %>
            <% elsif @product.category_type.name == "Gifts" %>
            <% end %>
          </span>
        </div>
        <div class="product_show_details">
          <div class="medium-3 columns left_content">
            <div class="image_container">
              <%= image_tag(@product.image_url) if @product.image? %>
            </div>
          </div>
          <div class="medium-6 columns middle_content">
            <div class="item_label">firstchoice collection</div>
            <div class="item_title">
              <span class="product_item"><%= @product.title %></span>
              <% if @product.product_new? %>
                <span class="product_new">new item</span>
              <% end %>
            </div>
            <div class="item_ref">T422228</div>
            <div class="price_review_section">
            <% if @product.sale? %>
              <span class="price_currency">
                <span class="currency">
                  <% if @product.category_currency.name == "Cedis" %>
                    <%= "¢" %>
                  <% elsif @product.category_currency.name == "Dollars" %>
                    <%= "$" %>
                  <% elsif @product.category_currency.name == "Pounds" %>
                    <%= "£" %>
                  <% end %>
                </span>
                <span class="price_sale"><%= number_with_precision("#{@product.price}", precision: 2) %></span>
              </span>

              <span class="price_currency sale_item">
                <span class="now_text">now</span>
                <span class="currency">
                  <% if @product.category_currency.name == "Cedis" %>
                    <%= "¢" %>
                  <% elsif @product.category_currency.name == "Dollars" %>
                    <%= "$" %>
                  <% elsif @product.category_currency.name == "Pounds" %>
                    <%= "£" %>
                  <% end %>
                </span>
                <span class="price"><%= number_with_precision("#{@product.saleprice}", precision: 2) %></span>
              </span>
            <% else %>
              <div class="price_currency">
                <span class="currency">
                  <% if @product.category_currency.name == "Cedis" %>
                    <%= "¢" %>
                  <% elsif @product.category_currency.name == "Dollars" %>
                    <%= "$" %>
                  <% elsif @product.category_currency.name == "Pounds" %>
                    <%= "£" %>
                  <% end %>
                </span>
                <span class="price"><%= number_with_precision("#{@product.price}", precision: 2) %></span>
              </div>
            <% end %>
            </div>

            <div class="minor_info">
              Free standard delivery on orders over £50. Conditions apply.
            </div>

            <div class="medium-12 columns colour_info">
              <span class="colour_title">item colour: </span>
              <span class="item_colour">
                <% @product.category_colour.each do |colour| %>
                  <%= colour.name %>,
                <% end %>
              </span>
              <div class="clear"></div> 

              <% @product.category_colour do |colour| %>
                <% if @product.item_colurs(colour) %>
                  <%= colour.name %>
                <% end %>
              <% end %>


              <div class="listed_colours">
                <ul>
                  <% if @product.item_colurs.include?("Blue") %>
                    <li class="blue"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Beige") %>
                    <li class="beige"></li>
                  <% end %>
                  
                  <% if @product.item_colurs.include?("Black") %>
                    <li class="black"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Brown") %>
                    <li class="brown"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Copper") %>
                    <li class="copper"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Cream") %>
                    <li class="cream"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Gold") %>
                    <li class="gold"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Green")%>
                    <li class="green"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Grey")%>
                    <li class="grey"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Navy")%>
                    <li class="navy"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Orange")%>
                    <li class="orange"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Pink")%>
                    <li class="pink"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Purple")%>
                    <li class="purple"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Red")%>
                    <li class="red"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Silver")%>
                    <li class="silver"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Tan")%>
                    <li class="tan"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("White")%>
                    <li class="white"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Yellow")%>
                    <li class="yellow"></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Multi")%>
                    <li class="multi"><%# image_tag("img_clothe_01.jpg") %></li>
                  <% end %>
                  <% if @product.item_colurs.include?("Stone")%>
                    <li class="stone"></li>
                  <% end %>
                </ul>
              </div>
            </div>

            <div class="medium-12 columns detail_info">
              <div class="size_info">
                <span class="size_other ">
                  <span class="size_subtitle">available size:</span>
                  <span>
                    <ul>
                      <% @product.category_clothesize.each do |size| %>
                        <li><%= size.name %></li>
                      <% end %>
                    </ul>
                  </span>
                </span>
                <span class="size_guide"><i class="fa fa-scissors" aria-hidden="true"></i> <%= link_to "Size guide" %></span>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
              <!-- <div class="save_item"><%# link_to "save item" %></div> -->




              <!-- working_content -->
              <div class="btn"><%= link_to 'Book Now! - Ruby a_tag', products_path(url_id: "hello") %></div>
              <div><a class="btn" href="/products?url_id=hello">Book Now! - Normal a_tag</a></div>
              <!-- working_content -->








            </div>
            <div class="clear"></div>




            <div class="description_section">
              <div class="header"><i class="fa fa-caret-down" aria-hidden="true"></i> Description</div>
              <div class="description_content"><%= @product.description %></div>
               <div class="description_content"><%= @product.description %></div>
            </div>
            <p class="hide">
              <strong>Description:</strong>
              <%= @product.description %>
            </p>
            <p class="hide">
              <strong>Stock:</strong>
              <%= @product.stock %>
            </p>

            <div class="hide">
              <%= link_to 'Edit', edit_product_path(@product) %> |
              <%= link_to 'Back', products_path %>
            </div>
          </div>
          <div class="medium-3 columns right_content">right_content</div>
          <div class="clear"></div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>