<div class="medium-12 columns product_show_main_container">
  <div class="medium-12 columns product_show_container">
    <div class="product_show_inner_container">
  
      <div class="product_show_content">
        <div class="tree_line">
          <span><%= link_to "home", root_path %></span>
          <span class="divider">/</span>
          <span><%= link_to "women", "#" %></span>
          <span class="divider">/</span>
          <span><%= link_to @product.category_type.name, "#" %></span>
          <span class="divider">/</span>
          <span>
            <% if @product.category_type.name == "Clothes" %>
              <%= @product.category_clothetype.name %>
            <% elsif @product.category_type.name == "Accessories" %>
              <%= @product.category_accessorytype.name %>
            <% elsif @product.category_type.name == "Shoes" %>
              <%= @product.category_shoetype.name %>
            <% elsif @product.category_type.name == "Bags & Purses" %>
              <%= @product.category_bagtype.name %>
            <% elsif @product.category_type.name == "Gifts" %>
            <% end %>
          </span>
        </div>
        <div class="product_show_details">
          <div class="medium-3 columns left_content">
            <div class="image_conrainer">
              <%= image_tag("img_clothe_01.jpg") %>
            </div>
          </div>
          <div class="medium-6 columns middle_content">
            <div class="item_label">firstchoice collection</div>
            <div class="item_title">
              <span class="product_item"><%= @product.title %></span>
              <% if @product.product_new? %>
                <span class="product_new">new item</span>
              <% end %>
            </div>
            <div class="item_ref">T422228</div>
            <div class="price_review_section">
            <% if @product.sale? %>
              <span class="price_currency">
                <span class="currency">
                  <% if @product.category_currency.name == "Cedis" %>
                    <%= "¢" %>
                  <% elsif @product.category_currency.name == "Dollars" %>
                    <%= "$" %>
                  <% elsif @product.category_currency.name == "Pounds" %>
                    <%= "£" %>
                  <% end %>
                </span>
                <span class="price_sale"><%= number_with_precision("#{@product.price}", precision: 2) %></span>
              </span>

              <span class="price_currency sale_item">
                <span class="now_text">now</span>
                <span class="currency">
                  <% if @product.category_currency.name == "Cedis" %>
                    <%= "¢" %>
                  <% elsif @product.category_currency.name == "Dollars" %>
                    <%= "$" %>
                  <% elsif @product.category_currency.name == "Pounds" %>
                    <%= "£" %>
                  <% end %>
                </span>
                <span class="price"><%= number_with_precision("#{@product.saleprice}", precision: 2) %></span>
              </span>
            <% else %>
              <div class="price_currency">
                <span class="currency">
                  <% if @product.category_currency.name == "Cedis" %>
                    <%= "¢" %>
                  <% elsif @product.category_currency.name == "Dollars" %>
                    <%= "$" %>
                  <% elsif @product.category_currency.name == "Pounds" %>
                    <%= "£" %>
                  <% end %>
                </span>
                <span class="price"><%= number_with_precision("#{@product.price}", precision: 2) %></span>
              </div>
            <% end %>
            </div>

            <div class="minor_info">
              Free standard delivery on orders over £50. Conditions apply.
            </div>

            <div class="colour_info">
              <span class="colour_title">item colour: </span>
              <span class="item_colour"><%= @product.category_colour.name %></span>
              <div class="listed_colours">
                <ul>
                  <li class="beige"></li>
                  <li class="blue"></li>
                  <li class="black"></li>
                  <li class="borwn"></li>
                  <li class="copper"></li>
                  <li class="cream"></li>
                  <li class="gold"></li>
                  <li class="green"></li>
                  <li class="grey"></li>
                  <li class="navy"></li>
                  <li class="orange"></li>
                  <li class="pink"></li>
                  <li class="purple"></li>
                  <li class="red"></li>
                  <li class="silver"></li>
                  <li class="tan"></li>
                  <li class="white"></li>
                  <li class="yellow"></li>
                  <li class="multi"></li>
                  <li class="stone"></li>
                </ul>
              </div>
            </div>







    
            <p class="hide">
              <strong>Description:</strong>
              <%= @product.description %>
            </p>
            <p class="hide">
              <strong>Stock:</strong>
              <%= @product.stock %>
            </p>

            <div class="hide">
              <%= link_to 'Edit', edit_product_path(@product) %> |
              <%= link_to 'Back', products_path %>
            </div>
          </div>
          <div class="medium-3 columns right_content">right_content</div>
          <div class="clear"></div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>